body{

    /* background-image:url("https://media.giphy.com/media/U3qYN8S0j3bpK/giphy.gif") ; */

}

.box{
    background-color: white;
    min-height: 380px;
    max-width: 400px; max-height: 300px;
  
    margin: 120px 30px 40px 450px;
    padding: 20px 30px 20px 30px;
    border: 1px solid rgb(230, 227, 227);
    border-radius: 10px;
    box-shadow: rgb(177, 174, 174);
}

h2{
    color:rgb(27, 117, 27) ;
    font-size: 30px;
    animation-name:spin;
}

button{
    background-color:rgb(27, 117, 27) ;
    color: white;
    padding: 10px 30px 10px 30px;
    border-color: rgb(27, 117, 27) ;
    border-radius: 20px;
    cursor: pointer ; 
    
}
button:hover{
    background-color: white;
    border-color:rgb(27, 117, 27) ;
    color: black;
}

input:focus{
    background-color: rgb(211, 205, 205);
  
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.grid-box{
    background-color: bisque;
  height: 700px;  
  display: grid;
  gap: 20px;
  /* grid-template-columns: 300px 300px 300px 300px; */
  grid-template-columns: 1fr 1fr 1fr;
  
  justify-content: space-between;
  align-content: center;

}

.grid-box div{
    font-size: 30px;
    display: flex;
    align-items:center;
    justify-content: center;
    align-content: center;
    align-items: stretch;font-size: 20px;

}

.grid-box :nth-child(1){
    background-color: aquamarine;
}
   
.grid-box :nth-child(2){
    background-color:rgb(151, 92, 209);
}
   
.grid-box :nth-child(3){
    background-color:rgb(183, 214, 120);
}
   
.grid-box :nth-child(4){
    background-color:palegoldenrod;
}
   
.grid-box :nth-child(5){
    background-color:pink;
}
   
.grid-box :nth-child(6){
    background-color: olivedrab;
}
   
.grid-box :nth-child(7){
    background-color:rgb(72, 153, 72);
}
   
.grid-box :nth-child(8){
    background-color:rgb(167, 167, 185);
}

.grid-box :nth-child(9){
    background-color:rgb(107, 152, 194);
}
   
   